* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.services__section {
  text-align: center;
  background-color: #481ca6;
  overflow: auto;
}

.ver-mas {
  color: white;
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
}

.ver-mas::before {
  content: url("/icons/outline_link.png");
  margin-right: 5px;
  vertical-align: middle;
}

@media (min-width: 769px) {
  .services {
    display: flex;
    justify-content: center;
    column-gap: 30px;
  }
}
